.navbar h4,
.navbar a {
    color: #f50;
    margin-top: 14px;
    display: inline-block;
}

.navbar {
    background-color: #282828;
}

body {
    padding-top: 70px;
}

#main-container #header,
#main-container #sub-header {
    text-align: center;
    color: #282828;
}

#main-container #header {
    font-size: 3em;
}

#preview-image {
    margin-top: 15px;
}

#preview-image img {
    display: block;
    width: 80%;
    margin: auto;
}

#download-container {
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

#download-container a {
    display: block;
    margin-bottom: 15px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    background-color: #f50;
    color: #fff;
    text-shadow: 0px -2px #B33B00;
    font-size: 18px;
    border-bottom: 3px solid #B33B00;
}

#download-container a:hover {
    text-decoration: none;
}