$primary-color: #B4B4B4;
$secondary-color: #464646;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, html, div {
    margin: 0;
    padding: 0;
    color: $primary-color;
    font-family: verdana, arial;
}

p {
    font-size: 14px;
}

#app {
    #left-side-bar {
        height: 100%;
        width: 240px;
        float: left;
        background-color: #282828;

        #user {
            margin-top: 40px;
            margin-left: 20px;

            .profile-picture {
                display: inline-block;
                width: 60px;
                height: 60px;
            }

            .username {
                margin-left: 10px;
                display: inline-block;
                vertical-align: top;
            }

            .followers_count {
                clear: both;
            }

            .followings-count {
                clear: both;
            }
        }

        #side-menu {
            margin-top: 60px;

            ul {
                list-style-type: none;
                padding-left: 0px;

                li {
                    padding-left: 20px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-decoration: none;
                }

                li:hover {
                    cursor: pointer;
                }

                li.active {
                    padding-left: 19px;
                    background-color: $secondary-color;
                    border-left: 1px solid $primary-color;
                }
            }
        }
    }

    #music-list {
        height: 100%;
        width: calc(100% - 240px);
        float: right;
        background-color: #141414;
        overflow-y: scroll;

        .section-title {
            margin-left: 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            .track {
                width: 100%;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;           /* Non-prefixed version, currently
                                          not supported by any browser */

                td {
                    cursor: pointer;
                    border-bottom: 1px solid #282828;
                    margin: 0px;
                    color: #fff;
                }

                .track-title {
                    width: 69%;
                    padding: 15px;
                }

                .track-user-username {
                    width: 35%;
                    padding: 15px;
                }

                .track-duration {
                    width: 5%;
                    padding: 15px;
                    text-align: right;
                }
            }

            .track:hover {
                background-color: #282828;
            }
        }
    }

    #music-player {
        height: 60px;
        width: 100%;
        margin: 0;
        position: fixed;
        bottom: 0px;
        background-color: #282828;
        border-top: 1px solid $secondary-color;

        #play-button,
        #pause-button {
            font-size: 26px;
            line-height: 60px;
            vertical-align: center;
            cursor: pointer;
        }
    }
}